<%- include('../includes/head.ejs') %>
<%- include('../includes/nav.ejs') %>

<link rel ='stylesheet' href = 'css/nf.css'>
<link rel ='stylesheet' href = 'css/nav.css'>
</head>

 <body>
     <div class = 'nf'>Page not found </div>
</body>
