<%- include('../includes/head.ejs') %>
<link rel = 'stylesheet' href = 'css/form.css'>

</head>
<%- include('../includes/nav.ejs') %>

<body>
    <% if (errorMessage) { %>
    <div class = errorMessage> <%= errorMessage %></div>
    <%  } %>
            <form class ="mainForm" method = 'post' action = '/login'>
                <label for = 'email'> Email </label>
                <input type = 'email' name = 'email' id = 'email'>
            
                <label for =  'password'> Password</label>
                <input type = 'password' name = 'password' id = 'password'>
            
                <input type = 'submit' value =  'Submit'>
                </form>     
</body>