<%- include('../includes/head.ejs') %>

</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <form class ="mainForm" method = 'post' action = '/signup'>
    <label for = 'email'> Login </label>
    <input type = 'email' name = 'email' id = 'email'>

    <label for =  'password'> Password</label>
    <input type = 'password' name = 'password' id = 'password'>

    <input type = 'submit' value =  'Submit'>
    </form>

</body>
