.mainForm {
  margin: auto;
  width: 30vw;
}

.mainForm label,
.mainForm input,
.mainForm textarea {
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  outline: none;
}
.mainForm textarea {
  font-family: inherit;
  font-size: 1rem;
  width: 30vw;
}
.mainForm label {
  width: 30vw;
  text-align: center;
  font-weight: bold;
  font-size: 1.2rem;
}
.mainForm input {
  width: 30vw;
  height: 2.5vh;
  border: 1px solid black;
}

.mainForm input:hover {
  background-color: rgb(170, 250, 170);
  border: 1px solid black;
}

.regm {
  width: 30vw;
  padding: 10px;
  margin: 10px 0 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid green;
  font-size: 1.5em;
  text-align: center;
}

.mainform input[type="submit"] {
  background-color: white;
  border: 2px solid rgb(3, 51, 3);
  border-radius: 4px;
}
.mainform input[type="submit"]:hover {
  background-color:  rgb(170, 250, 170);
  cursor: pointer;
}

.mainform input[type="file"] {
  width: 0.1px;
	height: 0.1px;
	opacity: 0;
	overflow: hidden;
	position: absolute;
	z-index: -1
}

.mainform input[type="file"]  + label {
  font-size: 1.25em;
  font-weight: 700;
  color: white;
  background-color:green;
  display: inline-block;
  cursor: pointer;
  width:20vw;
  text-align: center;
  width: 30vw
}

.mainform input[type="file"] :focus + label,
.mainform input[type="file"]  + label:hover {
  background-color: red;
}