.mainForm {
  margin: auto;
  width: 20vw;
}

.mainForm label,
.mainForm input,
.mainForm textarea {
  display: block;
  margin-top: 1rem;
  margin-left: 1rem;
  outline: none;
}
.mainForm textarea {
  font-family: inherit;
  font-size: 1rem;
}
.mainForm label {
  font-weight: bold;
  font-size: 1.2rem;
}
.mainForm input {
  width: 20vw;
  height: 2.5vh;
  border: 1px solid black;
}

.mainForm input:hover {
  background-color: rgb(170, 250, 170);
  border: 1px solid black;
}
.errorMessage {
  width: 50vw;
  margin: 10px auto;
  color: rgba(0, 0, 0, 0.931);
  background-color: rgb(245, 122, 122);
  font-size: 1.5rem;
  text-align: center;
  border-radius: 10px;
}

.regm {
  width:20vw;
  padding: 10px;
  margin: 10px 0 0 1rem;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  border: 3px solid green;
  font-size: 1.5em;
  text-align: center;
}
