html {
    font-size: 16px;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.nf {
  width: 50vw;
  margin: 20px auto;
  color: rgb(100, 98, 98);
  background-color: rgb(255, 186, 186);
  border: 2px solid red;
  border-radius: 3px;
  text-align: center;
  font-size: 1.5rem;
}
