<%- include('../../includes/head.ejs') %>


<link rel ='stylesheet' href = 'css/nf.css'>
<link rel ='stylesheet' href = 'css/nav.css'>
</head>

 <body>
    <%- include('../../includes/nav.ejs') %>
     <div class = 'errorMessage'>Unexpected error. We are working on fixing it.  \n <%= errorMessage %></div>
</body>
