
  <ul class="mainnav">
    <li class="mainnav__elem" href="/addTopic"></li>

    <li class="mainnav__elem" href="/topics"></li>

    <li class="mainnav__elem" href="/support"></li>

    <li class="mainnav__elem" href="/signup"></li>

    <li class="mainnav__elem" href="/login"></li>
  </ul>
