<ul class="mainnav">
  <li class="mainnav__elem"><a href="/addTopic">Add Topic</a></li>

  <li class="mainnav__elem"><a href="/topics"> All Topics </a></li>

  <li class="mainnav__elem"><a href="/support">Support </a></li>

  <li class="mainnav__elem"><a href="/signup"> Sign Up</a></li>

  <li class="mainnav__elem"><a href="/login"> Log In</a></li>
</ul>
